# Arithmetic

 ## @ Jana Rasras

The 4 Opereations in Arithmetic:
* Addition
* Subtraction 
* Multiplications
* Division

### Narower and wider Types

2 ways To convert integer to float :
* add a point zero at the end.
* pass an integer to a float constructor.

In [3]:
a = 28 # int
b = 28.0 # float
print ('a type is ', (type(a)))
print ('b type is ', (type(b)))

a type is  <class 'int'>
b type is  <class 'float'>

In [6]:
a = 11
b = float(a)
print(type(b))

<class 'float'>

if we would like to convert float to integer:

In [7]:
a = 3.14
b = int(a)
b

3

* its no longer the same number
 * integers are narrower than float

Similary, we can convert float to complex. But not vise versa.
* by adding 0j
* pass the number to the complex constructor

In [8]:
a = 3.14
b = 3.14 + 0j
type(b)

complex

*  float are narrower than complex

## Arithmetic Operations

### Addition

In [27]:
a = 2    # int
b = 6.0  # float
c = 12+9j # complex

In [28]:
a+b

8.0

* the numbers are widen, so they are the same type. so we can add
a is widen to float 
and the result is float

### Subtraction

In [29]:
b - a # float

4.0

### Multiplication

In [30]:
a *7 # int

14

In [31]:
b*2 # float

12.0

In [32]:
c *2 # complex

(24+18j)

### Division

In [33]:
c / b

(2+1.5j)