# Sets

### @Jana Rasras

* Duplicates are not stored
* you can add data of diffrenet types to the same set
* the order in the set does not matter

In [2]:
example = set() # empty set

In [3]:
example.add(21)
example.add(False)
example.add(2.3)
example.add('hi')

In [4]:
example

{False, 2.3, 21}

In [6]:
len(example)

3

In [9]:
example.remove(21)
example

{False, 2.3}

In [11]:
example.clear()
example

set()

In [18]:
even = set([2, 4, 6, 8, 10])
odd =set([1, 3, 5, 7, 9])
primes = set([2, 3, 5, 7])

In [19]:
odd.union(even)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [20]:
odd.intersection(primes)

{3, 5, 7}

In [22]:
2 in primes

True